
<h1 class="text-center mt-5">ADMIN dashboard</h1>
<div class="d-flex flex-column card p-5" style="
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    background-color : #98FB98">
    <table class="text-center mt-5">
<h2 class="text-center mt-5">Database Stats</h2>
  <tr>
<th>Total Products</th>
<th>Total Catagories</th>
  </tr>
  <tr style='background-color: white;'>
    <td><%= @product_count %></td>
    <td><%= @categories_count %></td>
  </tr>
  </tr>
</table>


<div class="d-flex justify-content-evenly align-content-center">
<div >
<h1>All products</h1>
<ul>
<% @products.each do |product| %>
<li> 
  <%= product.name %>
    <% end %>
</li>


</ul>

</div>

<div>
<h1>All Categories</h1>
<ul>
<% @categories.each do |category| %>
<li> 
  <%= category.name %>
    <% end %>
</li>


</ul>
</div>
</div>
</div>