
<body>
  <div class="company d-flex">
    <div class="img">
      <img src="https://raw.githubusercontent.com/pico-india/main-django/main/static/about-team.jpg" alt="" />
    </div>
     <p class='mt-5 fs-2'>
        <b>Jungle</b> is a Canadian-based website dedicated for sharing plants under the Jungle license. Jungle allows
        fellow plant lovers to buy plants from home with a simple click of a button. Our plants are  curated by a team of proffesional planters that have been in the buisness for over 10 years. In Jungle we are
        aspiring to be one of the largest plant suppliers on the internet. If you want a plant, you can bet we got it!
      </p>
  </div>